@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Inter:ital,wght@0,100..900;1,100..900&family=JetBrains+Mono:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom smooth scroll and luxury scrollbar */
html {
  scroll-behavior: smooth;
}

::selection {
  background-color: #f3f4f6;
  color: #111827;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #fcfbf7;
}

::-webkit-scrollbar-thumb {
  background: #d4af37;
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background: #aa841c;
}
